body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f1e5;
  color: #333;
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

h1, h2 {
  text-align: center;
  color: #d42f2f;
}

.history p {
  text-align: justify;
  line-height: 1.6;
  margin-bottom: 15px;
}

.performers {
  background-color: #fff;
  padding: 40px 0;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.card {
  width: 250px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
}

.card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 10px;
}

.card h3 {
  margin: 10px 0;
  color: #d42f2f;
}

.card p {
  font-size: 14px;
}



nav {
  margin: 0;
  padding: 0;
}
nav ul {
  list-style: none;
  margin: 0;  
  padding: 0;
  background: rgba(255, 0, 76, 0.432);  
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 15px 0;
}


nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2em;
  font-weight: bold;
}


footer {
  background: #222;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: auto;  
}